<h1><?php echo h($post['Post']['title']); ?></h1>

<p><small>Created on: <?php echo $post['Post']['created']; ?></small></p>
<p><small>Created by: <?php echo $users[$post['Post']['user_id']]; ?></small></p>

<p><?php echo h($post['Post']['body']); ?></p>