<h1>Users</h1>
<table>
    <tr>
        <th>Username</th>
        <th>Number of Posts</th>
    </tr>

    <?php foreach ($users as $user): ?>
    <tr>
        <td><?php echo $user['User']['username']; ?></td>
        
        <td><?php echo $user['User']['count']; ?></td>
    
    </tr>
    <?php endforeach; ?>

</table>